@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
}

body {
  font-size: 16px;
  font-family: "微软雅黑","Helvetica Neue","sanFrancisco Display";
}

.clear::after, .row {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}

.col {
  float: left;
}

.col.l1 {
  width: 8.33333%;
}

.col.l2 {
  width: 16.66667%;
}

.col.l3 {
  width: 25%;
}

.col.l4 {
  width: 33.33333%;
}

.col.l5 {
  width: 41.66667%;
}

.col.l6 {
  width: 50%;
}

.col.l7 {
  width: 58.33333%;
}

.col.l8 {
  width: 66.66667%;
}

.col.l9 {
  width: 75%;
}

.col.l10 {
  width: 83.33333%;
}

.col.l11 {
  width: 91.66667%;
}

.col.l12 {
  width: 100%;
}

.col.m1 {
  width: 8.33333%;
}

.col.m2 {
  width: 16.66667%;
}

.col.m3 {
  width: 25%;
}

.col.m4 {
  width: 33.33333%;
}

.col.m5 {
  width: 41.66667%;
}

.col.m6 {
  width: 50%;
}

.col.m7 {
  width: 58.33333%;
}

.col.m8 {
  width: 66.66667%;
}

.col.m9 {
  width: 75%;
}

.col.m10 {
  width: 83.33333%;
}

.col.m11 {
  width: 91.66667%;
}

.col.m12 {
  width: 100%;
}

.col.s1 {
  width: 8.33333%;
}

.col.s2 {
  width: 16.66667%;
}

.col.s3 {
  width: 25%;
}

.col.s4 {
  width: 33.33333%;
}

.col.s5 {
  width: 41.66667%;
}

.col.s6 {
  width: 50%;
}

.col.s7 {
  width: 58.33333%;
}

.col.s8 {
  width: 66.66667%;
}

.col.s9 {
  width: 75%;
}

.col.s10 {
  width: 83.33333%;
}

.col.s11 {
  width: 91.66667%;
}

.col.s12 {
  width: 100%;
}

@font-face {
  font-family: "zhengchang";
  src: url("../fonts/myriad-set-pro_text.woff") format("woff");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/myriad-set-pro_semibold.woff") format("woff");
}

@font-face {
  font-family: "xi";
  src: url("../fonts/myriad-set-pro_thin.woff") format("woff");
}

@font-face {
  font-family: "jixi";
  src: url("../fonts/myriad-set-pro_extrathin.woff") format("woff");
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff") format("woff");
}

@font-face {
  font-family: "icon";
  src: url("../fonts/iconfont1.woff") format("woff");
}

.header {
  width: 100%;
  background-color: #292929;
  z-index: 9999;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
}

.header .container {
  margin: 0 auto;
  max-width: 1024px;
  height: 44px;
  padding: 0 20px;
  overflow: hidden;
}

.header .container .nav.searching li:not(.logo):nth-child(10) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.15s;
}

.header .container .nav.searching li:not(.logo):nth-child(9) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.13s;
}

.header .container .nav.searching li:not(.logo):nth-child(8) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.11s;
}

.header .container .nav.searching li:not(.logo):nth-child(7) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.09s;
}

.header .container .nav.searching li:not(.logo):nth-child(6) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.07s;
}

.header .container .nav.searching li:not(.logo):nth-child(5) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.05s;
}

.header .container .nav.searching li:not(.logo):nth-child(4) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.03s;
}

.header .container .nav.searching li:not(.logo):nth-child(3) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: 0.01s;
}

.header .container .nav.searching li:not(.logo):nth-child(2) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: -0.01s;
}

.header .container .nav.searching li:not(.logo):nth-child(1) {
  transform: scale(0.3, 0.3);
  opacity: 0;
  transition-delay: -0.03s;
}

.header .container .nav {
  z-index: 555;
  text-align: justify;
  height: 44px;
  margin-left: 22px;
  margin-right: 22px;
}

.header .container .nav .logo {
  background-image: url("../img/logo.svg");
  width: 20px;
}

.header .container .nav .mac {
  background-image: url("../img/mac.svg");
  width: 31px;
}

.header .container .nav .ipad {
  background-image: url("../img/ipad.svg");
  width: 30px;
}

.header .container .nav .iphone {
  background-image: url("../img/iphone.svg");
  width: 48px;
}

.header .container .nav .watch {
  background-image: url("../img/watch.svg");
  width: 44px;
}

.header .container .nav .tv {
  background-image: url("../img/tv.svg");
  width: 20px;
}

.header .container .nav .music {
  background-image: url("../img/music.svg");
  width: 40px;
}

.header .container .nav .support {
  background-image: url("../img/support.svg");
  width: 57px;
}

.header .container .nav .search {
  background-image: url("../img/search.svg");
  width: 20px;
}

.header .container .nav .bag {
  background-image: url("../img/bag.svg");
  width: 18px;
}

.header .container .nav li:nth-last-child(2) a span {
  font-size: 0;
}

.header .container .nav li {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  transform: scale(1, 1);
  font-size: 16px;
  font-family: "xi";
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.header .container .nav li a {
  color: white;
  opacity: 0;
}

.header .container .nav li:hover {
  opacity: 0.6;
}

.header .container .nav::after {
  content: '';
  font-size: 0;
  width: 100%;
  display: inline-block;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.header .container .nav-phone {
  width: 100%;
  height: 48px;
  display: none;
  position: absolute;
  top: 0;
  background-color: #333333;
  z-index: 999999;
  overflow: hidden;
}

.header .container .nav-phone .menu.active .heng, .header .container .nav-phone .menu.active .shu {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.header .container .nav-phone .menu.active .heng {
  transform: rotateZ(45deg);
  transform-origin: 20% 25%;
}

.header .container .nav-phone .menu.active .shu {
  transform: rotateZ(-45deg);
  transform-origin: 25% 20%;
}

.header .container .nav-phone .menu {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  cursor: pointer;
}

.header .container .nav-phone .menu:hover {
  opacity: 0.6;
}

.header .container .nav-phone .menu .heng {
  transition: all 0.4s linear;
  width: 18px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
}

.header .container .nav-phone .menu .shu {
  transition: all 0.4s linear;
  width: 18px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
}

.header .container .nav-phone .logo-phone {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header .container .nav-phone .logo-phone:hover {
  opacity: 0.6;
}

.header .container .nav-phone .shangjiantou {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 48px;
  opacity: 0;
  z-index: 1;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
}

.header .container .nav-phone .shangjiantou:hover {
  color: #676767;
}

.header .container .nav-phone .shangjiantou.icon {
  font-family: "icon";
}

.header .container .nav-phone .icon-jiantoushang:before {
  content: "\e60c";
}

.header .container .nav-phone .bag {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateX(0);
}

.header .container .nav-phone .bag:hover {
  opacity: 0.6;
}

.header .container .box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
}

.header .container .box .search-box.searching {
  transform: translateX(0);
  opacity: 1;
}

.header .container .box .search-box {
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 78px;
  height: 44px;
  padding-left: 50px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  overflow: hidden;
  transform: translateX(1000px);
  transition: all 1s ease;
  opacity: 0;
  z-index: 12345;
}

.header .container .box .search-box input {
  width: 100%;
  border: 0;
  height: 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  outline: none;
  color: #fff;
  font-family: "zhengchang";
  background-color: #292929;
  font-size: 16px;
}

.header .container .close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 39px;
  top: 12px;
  z-index: 12346;
  display: none;
  cursor: pointer;
}

.header .container .close .heng1, .header .container .close .shu1 {
  width: 16px;
  height: 1px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.header .container .close .heng1 {
  transform: rotateZ(45deg);
}

.header .container .close .shu1 {
  transform: rotateZ(-45deg);
}

.header .container .close:hover {
  color: #B7B7B7;
}

.header .container .close.show {
  display: block;
}

.phone-daohang {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #1C1919;
  z-index: 999;
  opacity: 0;
  transition: all 0.4s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
  body.hide {
    overflow: hidden;
  }
  .header {
    height: 48px;
    background-color: black;
  }
  .header .container {
    padding: 0;
    overflow: visible;
  }
  .header .container .nav.searching {
    transition: all 1s ease-in-out !important;
    width: 100%;
    transform: translateX(-1px) translateY(-380px) !important;
  }
  .header .container .nav.searching li {
    transform: scale(1, 1) !important;
  }
  .header .container .nav.move {
    transition: all 1s ease-in-out !important;
    transform: translateX(0) translateY(0) !important;
  }
  .header .container .nav {
    display: block;
    float: none;
    position: relative;
    left: 0;
    top: 44px;
    z-index: 99999;
    height: auto;
  }
  .header .container .nav li:nth-child(1).show {
    display: none;
  }
  .header .container .nav li:nth-last-child(1).show {
    display: none;
  }
  .header .container .nav li.show:nth-last-child(2) {
    border-bottom: 1px solid white;
    cursor: text;
  }
  .header .container .nav li.show:nth-last-child(2) a {
    font-size: 0;
  }
  .header .container .nav li.show:nth-last-child(2) a span {
    font-size: 20px;
  }
  .header .container .nav li.show:nth-last-child(2):hover {
    opacity: 1;
  }
  .header .container .nav li {
    opacity: 0;
    line-height: 0;
    background-position: left;
    display: block;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
    z-index: 1;
    visibility: hidden;
  }
  .header .container .nav li.show {
    border-bottom: 1px solid  #333333;
    display: block;
    visibility: visible;
    background-size: 59px 48px;
    float: none;
    width: 80%;
    opacity: 1;
    height: 44px;
    padding-top: 48px;
    margin-left: 40px;
    cursor: pointer;
  }
  .header .container .nav li.show:hover {
    opacity: 0.6;
  }
  .header .container .nav .search a {
    display: block;
    position: absolute;
    top: 0;
    left: 70px;
    opacity: 1;
    line-height: 50px;
    color: white;
    font-size: 20px;
  }
  .header .container .nav .search a span {
    display: block;
    width: 150px;
    height: 44px;
    float: left;
    cursor: text;
  }
  .header .container .nav::after {
    content: '';
    display: block;
    clear: both;
  }
  .header .container .nav-phone {
    display: block;
    overflow: hidden;
    z-index: 9999999;
  }
  .header .container .nav-phone .bag {
    background: url("../img/bag_small.svg") no-repeat center center;
  }
  .header .container .nav-phone .bag.hide {
    transform: translateX(200px);
  }
  .header .container .nav-phone .logo-phone.shang, .header .container .nav-phone .shangjiantou.shang {
    transform: translateY(-48px);
    opacity: 1;
  }
  .header .container .nav-phone .logo-phone {
    transform: translateY(0);
    transition: all 0.8s ease;
    background-image: url("../img/logo_small.svg");
  }
  .header .container .nav-phone .shangjiantou {
    transform: translateY(0);
    opacity: 0;
    transition: all 0.8s ease;
  }
  .header .container .nav-phone.color {
    background-color: black;
  }
  .close {
    display: none;
    opacity: 0;
  }
  .box {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .box .search-box.searching {
    transition: opacity 0.5s ease !important;
    transition-delay: 1s;
    background-color: black;
    width: 80% !important;
    display: block;
    position: absolute;
    top: 125px !important;
    z-index: 999999 !important;
    border-bottom: 1px solid #333;
    font-size: 20px;
  }
  .box .search-box.searching input {
    background-color: black !important;
  }
  .banner {
    height: 482px;
  }
  .banner .container .dalunbo {
    height: 482px;
  }
  .phone-daohang.show {
    height: 100%;
    height: 200vh;
    background-color: black;
    opacity: 1;
  }
}

.search-result.show {
  height: auto;
  opacity: 1;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.search-result.show dl li:nth-child(10) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 1.1s;
}

.search-result.show dl li:nth-child(9) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 1s;
}

.search-result.show dl li:nth-child(8) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.9s;
}

.search-result.show dl li:nth-child(7) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.8s;
}

.search-result.show dl li:nth-child(6) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.7s;
}

.search-result.show dl li:nth-child(5) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.6s;
}

.search-result.show dl li:nth-child(4) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.5s;
}

.search-result.show dl li:nth-child(3) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.4s;
}

.search-result.show dl li:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.3s;
}

.search-result.show dl li:nth-child(1) {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.2s;
}

.search-result {
  width: 50%;
  box-sizing: border-box;
  opacity: 0;
  height: 0;
  overflow: hidden;
  background-color: white;
  z-index: 12345;
  transition: all 0.8s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 44px;
}

.search-result dl {
  font-family: "xi";
  font-weight: 550;
}

.search-result dl li:nth-child(1) {
  font-size: 12px;
  color: #999999;
  padding-bottom: 8px;
}

.search-result dl li {
  transition: all 0.8s ease;
  transform: translateX(1000px);
  font-size: 16px;
}

.search-result dl li a {
  width: 100%;
  height: 100%;
  color: #999999;
  display: block;
  padding: 8px 10px;
}

.search-result dl li a:hover {
  background-color: #f2f2f2;
  color: #0188CC;
}

.zhezhao.sousuo {
  width: 100%;
  height: 100%;
  height: 200vh;
  background-color: #505050;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9000;
}

@media screen and (max-width: 768px) {
  .search-result {
    top: 100px;
  }
  .search-result.show {
    transition-delay: 1s;
    top: 100px;
    width: 80%;
    background-color: black;
    padding-left: 0;
  }
  .search-result.show dl li:nth-child(1) {
    border-bottom: none;
    margin-left: 0;
  }
  .search-result.show dl li {
    padding: 10px 0;
    margin-left: 20px;
    border-bottom: 1px solid #333333;
  }
  .search-result.show dl li a {
    padding-left: 0;
    font-family: 'zhengchang';
    color: #B9B9B9;
  }
  .search-result.show dl li a:hover {
    background-color: black;
    color: #0188CC;
  }
  .zhezhao.sousuo {
    background-color: black !important;
    opacity: 1 !important;
  }
}

.banner {
  height: 650px;
  width: 100%;
  z-index: 555;
  float: left;
}

.banner .container {
  width: 100%;
  height: 650px;
  position: absolute;
  left: 0;
  top: 0;
}

.banner .container ul {
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.banner .container ul li {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 650px;
  float: left;
  display: inline-block;
  background-color: white;
  display: none;
  transition: transform 0.9s ease;
}

.banner .container ul li.active {
  display: block;
  transform: translate3d(0, 0, 0);
}

.banner .container ul li.left {
  display: block;
  transform: translate3d(-100%, 0, 0);
}

.banner .container ul li.right {
  display: block;
  transform: translate3d(100%, 0, 0);
}

.banner .container ul .iphone6s a {
  display: block;
  width: 100%;
  height: 650px;
  background-image: url("../img/iphone_6s_medium.jpg");
  background-position: 40% 100%;
  background-repeat: no-repeat;
  background-size: 1400px 389px;
}

.banner .container ul .iphone6s a .juzhong {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.banner .container ul .iphone6s a .juzhong h3 {
  font-size: 30px;
  top: 148px;
  text-align: center;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/iphone_6s_medium.png");
}

.banner .container ul .iphone6s a .juzhong h3 span {
  opacity: 0;
}

.banner .container ul .iphone6s a .juzhong p {
  text-align: center;
  top: 158px;
  font-size: 32px;
  font-family: "xi";
  color: #000;
}

.banner .container ul .ipadpro a {
  display: block;
  width: 100%;
  height: 650px;
  background-image: url("../img/ipad_pro_family_medium.jpg");
  background-position: 60% 220%;
  background-repeat: no-repeat;
}

.banner .container ul .ipadpro a .juzhong {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.banner .container ul .ipadpro a .juzhong h3 {
  font-size: 30px;
  top: 108px;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: normal;
}

.banner .container ul .ipadpro a .juzhong h3 span {
  font-family: "xi";
  opacity: 1;
  color: #333333;
  font-size: 50px;
}

.banner .container ul .ipadpro a .juzhong p {
  text-align: center;
  top: 108px;
  font-size: 32px;
  font-family: "xi";
  color: #000;
}

.banner .container ul .watch a {
  display: block;
  width: 100%;
  height: 650px;
  background-image: url("../img/apple_watch_trio_medium.jpg");
  background-position: 50% 65%;
  background-repeat: no-repeat;
}

.banner .container ul .watch a .juzhong {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.banner .container ul .watch a .juzhong h3 {
  font-size: 30px;
  top: 126px;
  text-align: center;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/apple_watch_medium.png");
}

.banner .container ul .watch a .juzhong h3 span {
  font-family: "xi";
  opacity: 0;
  color: #333333;
  font-size: 30px;
}

.banner .container ul .watch a .juzhong p {
  text-align: center;
  top: 138px;
  font-size: 32px;
  font-family: "xi";
  color: #000;
}

.banner .container ul .macbook a {
  display: block;
  width: 100%;
  height: 650px;
  background-image: url("../img/macbook_medium.png");
  background-position: 50% 70%;
  background-repeat: no-repeat;
}

.banner .container ul .macbook a .juzhong {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.banner .container ul .macbook a .juzhong h3 {
  font-size: 30px;
  top: 140px;
  text-align: center;
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  font-weight: normal;
}

.banner .container ul .macbook a .juzhong h3 span {
  font-family: "xi";
  opacity: 1;
  color: #333333;
  font-size: 50px;
}

.banner .container ul .macbook a .juzhong p {
  text-align: center;
  top: 140px;
  font-size: 32px;
  font-family: "xi";
  color: #000;
}

.banner .container ul::after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}

.banner .move-left, .banner .move-right {
  width: 67px;
  height: 128px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 666;
  font-size: 30px;
  color: #B0B0B0;
  text-align: center;
  line-height: 128px;
  opacity: 0;
  transition: all 0.5s ease;
}

.banner .iconfont {
  font-family: "iconfont" !important;
  font-size: 80px;
  font-style: normal;
  color: #A8A8A8;
}

.banner .iconfont:hover {
  color: #969696;
}

.banner .icon-youjiantou:before {
  content: "\e60a";
}

.banner .icon-youjiantou1:before {
  content: "\e603";
}

.banner .move-left {
  left: 20px;
}

.banner .move-right {
  right: 20px;
}

.banner .lunbo {
  width: 112px;
  height: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 6px;
  z-index: 666;
}

.banner .lunbo li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #999;
  float: left;
  margin-left: 10px;
  margin-right: 9px;
  cursor: pointer;
}

.banner .lunbo li:hover {
  background-color: #666666;
}

.banner .lunbo li.active {
  border: 1px solid #326ED7;
  background-color: white;
  transform: translateY(-1px);
  cursor: default;
}

.banner:hover .move-left, .banner:hover .move-right {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 510px;
  }
  .banner .container {
    height: 482px;
  }
  .banner .container .dalunbo .iphone6s {
    height: 482px;
  }
  .banner .container .dalunbo .iphone6s a {
    height: 482px;
    background: url("../img/iphone_6s_small.jpg") no-repeat 50% 82%;
    top: 6px;
  }
  .banner .container .dalunbo .iphone6s a .juzhong h3 {
    background: url("../img/iphone_6s_small.png") no-repeat center center;
  }
  .banner .container .dalunbo .iphone6s a .juzhong p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 194px;
    width: 300px;
    text-align: center;
    font-size: 24px;
  }
  .banner .container .dalunbo .ipadpro {
    height: 482px;
  }
  .banner .container .dalunbo .ipadpro a {
    height: 482px;
    background: url("../img/ipad_pro_family_small.jpg") no-repeat 51% 70%;
    top: 56px;
  }
  .banner .container .dalunbo .ipadpro a .juzhong h3 span {
    font-size: 40px;
  }
  .banner .container .dalunbo .ipadpro a .juzhong p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 152px;
    width: 400px;
    text-align: center;
    font-size: 24px;
  }
  .banner .container .dalunbo .watch {
    height: 482px;
  }
  .banner .container .dalunbo .watch a {
    height: 482px;
    background: url("../img/apple_watch_trio_small.jpg") no-repeat 50% 63%;
    top: 35px;
  }
  .banner .container .dalunbo .watch a .juzhong h3 {
    background: url("../img/apple_watch_small.png") no-repeat center center;
  }
  .banner .container .dalunbo .watch a .juzhong p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 170px;
    width: 400px;
    text-align: center;
    font-size: 24px;
  }
  .banner .container .dalunbo .macbook {
    height: 482px;
  }
  .banner .container .dalunbo .macbook a {
    height: 482px;
    background: url("../img/macbook_small.png") no-repeat 50% 70%;
    top: 25px;
  }
  .banner .container .dalunbo .macbook a .juzhong h3 span {
    font-size: 40px;
  }
  .banner .container .dalunbo .macbook a .juzhong p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 190px;
    width: 400px;
    text-align: center;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .promos .container .row div {
    border-top: none;
    border-right: none;
  }
}

.promos {
  width: 100%;
  float: left;
}

.promos .container {
  width: 100%;
  margin: 0 auto;
}

.promos .container .row {
  width: 100%;
}

@media screen and (max-width: 3000px) {
  .promos .container .row .col.l1 {
    width: 8.33333%;
  }
  .promos .container .row .col.l2 {
    width: 16.66667%;
  }
  .promos .container .row .col.l3 {
    width: 25%;
  }
  .promos .container .row .col.l4 {
    width: 33.33333%;
  }
  .promos .container .row .col.l5 {
    width: 41.66667%;
  }
  .promos .container .row .col.l6 {
    width: 50%;
  }
  .promos .container .row .col.l7 {
    width: 58.33333%;
  }
  .promos .container .row .col.l8 {
    width: 66.66667%;
  }
  .promos .container .row .col.l9 {
    width: 75%;
  }
  .promos .container .row .col.l10 {
    width: 83.33333%;
  }
  .promos .container .row .col.l11 {
    width: 91.66667%;
  }
  .promos .container .row .col.l12 {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .promos .container .row .col.m1 {
    width: 8.33333%;
  }
  .promos .container .row .col.m2 {
    width: 16.66667%;
  }
  .promos .container .row .col.m3 {
    width: 25%;
  }
  .promos .container .row .col.m4 {
    width: 33.33333%;
  }
  .promos .container .row .col.m5 {
    width: 41.66667%;
  }
  .promos .container .row .col.m6 {
    width: 50%;
  }
  .promos .container .row .col.m7 {
    width: 58.33333%;
  }
  .promos .container .row .col.m8 {
    width: 66.66667%;
  }
  .promos .container .row .col.m9 {
    width: 75%;
  }
  .promos .container .row .col.m10 {
    width: 83.33333%;
  }
  .promos .container .row .col.m11 {
    width: 91.66667%;
  }
  .promos .container .row .col.m12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .promos .container .row .col.s1 {
    width: 8.33333%;
  }
  .promos .container .row .col.s2 {
    width: 16.66667%;
  }
  .promos .container .row .col.s3 {
    width: 25%;
  }
  .promos .container .row .col.s4 {
    width: 33.33333%;
  }
  .promos .container .row .col.s5 {
    width: 41.66667%;
  }
  .promos .container .row .col.s6 {
    width: 50%;
  }
  .promos .container .row .col.s7 {
    width: 58.33333%;
  }
  .promos .container .row .col.s8 {
    width: 66.66667%;
  }
  .promos .container .row .col.s9 {
    width: 75%;
  }
  .promos .container .row .col.s10 {
    width: 83.33333%;
  }
  .promos .container .row .col.s11 {
    width: 91.66667%;
  }
  .promos .container .row .col.s12 {
    width: 100%;
  }
}

.promos .container .row div {
  height: 200px;
  border-top: 2px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
  float: left;
  display: block;
  background-position: top center;
}

.promos .container .row div a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.promos .container .row .tv {
  background-image: url("../img/apple_tv_medium.jpg");
}

.promos .container .row .ios {
  border-left: 1px solid white;
  background-image: url("../img/public_betas_medium.jpg");
}

.promos .container .row .swif {
  border-left: 1px solid white;
  background-image: url("../img/swift_playground_medium.jpg");
}

.promos .container .row .gift {
  border-left: 1px solid white;
  border-right: none;
  background-image: url("../img/bts_iphone_medium.jpg");
}

@media screen and (max-width: 768px) {
  .promos .container .row .tv {
    background-image: url("../img/apple_tv_small.jpg");
  }
  .promos .container .row .ios {
    background-image: url("../img/public_betas_small.jpg");
  }
  .promos .container .row .swif {
    background-image: url("../img/swift_playground_small.jpg");
  }
  .promos .container .row .gift {
    background-image: url("../img/bts_iphone_small.jpg");
  }
}

.promos .container .row::after {
  content: '';
  display: block;
  clear: both;
}

.footer {
  width: 100%;
  height: 368px;
  border-top: 2px solid white;
  background-color: #F2F2F2;
  float: left;
}

.footer .footer-inner {
  max-width: 1024px;
  height: 300px;
  margin: 0 auto;
}

.footer .footer-inner .container {
  box-sizing: border-box;
  height: 295px;
  padding-top: 34px;
  padding-left: 22px;
  padding-right: 20px;
}

.footer .footer-inner .container div {
  width: 20%;
  float: left;
}

.footer .footer-inner .container div .xuan1 {
  padding-top: 20px;
}

.footer .footer-inner .container div dl dt {
  cursor: default;
  height: 20px;
  font-size: 12px;
  color: black;
  font-family: "bold";
  font-style: normal;
}

.footer .footer-inner .container div dl dd {
  height: 20px;
  font-size: 10px;
  font-family: "zhengchang";
  color: #666666;
}

.footer .footer-inner .container div dl dd a {
  color: #666666;
  display: inline-block;
}

.footer .footer-inner .container div dl dd a:hover {
  color: black;
  text-decoration: underline;
}

.footer .footer-inner .footer-bottom .footer-shang {
  margin-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "zhengchang";
  color: #999999;
  border-bottom: 1px solid #E3E3E3;
}

.footer .footer-inner .footer-bottom .footer-shang a {
  color: #0088CC;
  font-size: 12px;
}

.footer .footer-inner .footer-bottom .footer-shang a:hover {
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .footer-inner .footer-bottom .footer-shang {
    border-bottom: none;
  }
  .footer .footer-inner .footer-bottom .lang1 {
    display: block !important;
  }
}

.footer .footer-inner .footer-bottom .lang1 {
  height: 16px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  display: none;
}

.footer .footer-inner .footer-bottom .lang1 i {
  font-size: 0;
  background-image: url("../img/guoqi.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .footer-inner .footer-bottom .lang1 span {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  font-size: 12px;
  font-family: "zhengchang";
  color: #666666;
  background-image: url("../img/guoqi.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer .footer-inner .footer-bottom .lang1 span a {
  color: #666;
}

.footer .footer-inner .footer-bottom .lang1:hover a {
  color: black;
  text-decoration: underline;
}

.footer .footer-inner .footer-bottom .lang1::after {
  content: '';
  display: block;
  clear: both;
}

.footer .footer-inner .footer-bottom .copyright .appleInc {
  padding-top: 8px;
  padding-left: 20px;
  font-size: 12px;
  font-family: "zhengchang";
  color: #999;
  float: left;
}

.footer .footer-inner .footer-bottom .copyright .privacy {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 10px;
  float: left;
  line-height: 10px;
}

.footer .footer-inner .footer-bottom .copyright .privacy a {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  font-family: "zhengchang";
  color: #666666;
}

.footer .footer-inner .footer-bottom .copyright .privacy a:hover {
  color: black;
  text-decoration: underline;
}

.footer .footer-inner .footer-bottom .copyright .privacy a:nth-last-child(1) {
  border-right: none;
}

.footer .footer-inner .footer-bottom .copyright .lang {
  height: 16px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.footer .footer-inner .footer-bottom .copyright .lang i {
  font-size: 0;
  background-image: url("../img/guoqi.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .footer-inner .footer-bottom .copyright .lang span {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  font-size: 12px;
  font-family: "zhengchang";
  color: #666666;
  background-image: url("../img/guoqi.png");
  background-repeat: no-repeat;
  background-position: left center;
}

.footer .footer-inner .footer-bottom .copyright .lang span a {
  color: #666;
}

.footer .footer-inner .footer-bottom .copyright .lang:hover a {
  color: black;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .footer-inner .footer-bottom .copyright .appleInc {
    float: none;
  }
  .footer .footer-inner .footer-bottom .copyright .privacy {
    float: none;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer-inner .container div {
    width: 100%;
  }
  .footer .footer-inner .container div dl {
    width: 100%;
  }
  .footer .footer-inner .container div dl dt {
    border-bottom: 1px solid #E3E3E3;
    height: 38px;
    width: 100%;
    float: left;
    font-size: 14px;
    font-family: 'zhengchang';
    color: #333;
    line-height: 38px;
    cursor: pointer;
    z-index: 9999;
  }
  .footer .footer-inner .container div dl dt:hover {
    color: black;
  }
  .footer .footer-inner .container div dl dt::after {
    transition: all 0.8s ease;
    transform-origin: center center;
    content: '+';
    width: 38px;
    height: 38px;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
  .footer .footer-inner .container div dl dt.active {
    border-bottom: none;
    font-weight: 600;
    color: #333;
  }
  .footer .footer-inner .container div dl dt.active::after {
    transform: rotateZ(45deg);
  }
  .footer .footer-inner .container div dl dd {
    height: 0px;
    font-size: 0;
    opacity: 0;
  }
  .footer .footer-inner .container div dl dd.show {
    z-index: 9998;
    transition: all 0.4s ease;
    height: auto;
    font-size: 12px;
    opacity: 1;
    padding: 8px 5px;
  }
  .footer .footer-inner .container div dl dd.show:nth-of-type(1) {
    transition: all 0.1s ease;
    padding-top: 60px;
    height: 14px;
    font-size: 12px;
  }
  .footer .footer-inner .container div dl dd.show:nth-last-child(1) {
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 14px;
  }
  .footer .footer-inner .footer-bottom {
    padding-bottom: 10px;
    background-color: #f2f2f2;
  }
  .footer .footer-inner .footer-bottom .copyright .lang {
    display: none;
  }
}
