@import "base";

//头部导航
.header{
	width: 100%;
	background-color: #292929;
	z-index: 9999;
	height: 44px;
	position: absolute;
	top: 0;
	left: 0;
	.container{
		margin: 0 auto;
		max-width: 1024px;
		height: 44px;
		padding:0 20px;
		overflow:hidden;
		.nav.searching{
			@for $i from 10 through 1 {
				li:not(.logo):nth-child(#{$i}) {
					transform:scale(0.3,0.3);
					opacity: 0;
					transition-delay: $i*0.02s-0.05s;
				}
			}
		}
		.nav{
			z-index: 555;
			text-align: justify;
			height: 44px;
			margin-left: 22px;
			margin-right: 22px;
			$list:(
				'logo':20px,
				'mac':31px,
				'ipad':30px,
				'iphone':48px,
				'watch':44px,
				'tv':20px,
				'music':40px,
				'support':57px,
				'search':20px,
				'bag':18px
			);
			@each $i in map_keys($list){
				.#{$i}{
					background-image: url("../img/#{$i}.svg");
					width:map_get($list,$i);
				}
			}
			li:nth-last-child(2){
				a{
					span{
						font-size: 0;
					}
				}
			}
			li{
				display: inline-block;
				height: 44px;
				line-height: 44px;
				transform:scale(1,1);
				font-size: 16px;
				font-family: "xi";
				background-repeat: no-repeat;
				background-position: center center;
				padding: 0 5px;
				box-sizing: border-box;
				transition: all 0.3s ease;
				a{
					color:white;
					opacity: 0;
				}
				&:hover{
					opacity: 0.6;
				}
			}
			&::after{
				content: '';
				font-size: 0;
				width: 100%;
				display: inline-block;
				height: 0;
				line-height: 0;
				overflow: hidden;
			}
		}
		.nav-phone{
			width: 100%;
			height: 48px;
			display: none;
			position: absolute;
			top: 0;
			background-color: #333333;
			z-index: 999999;
			overflow: hidden;
			.menu.active{
				.heng , .shu{
					@include c-align;
				}
				.heng{
					// transition: all 0.8s linear;
					transform:rotateZ(45deg);
					transform-origin: 20% 25%;
				}
				.shu{
					// transition: all 0.8s linear;
					transform:rotateZ(-45deg);
					transform-origin: 25% 20%;
				}
			}
			.menu{
				@include cube(48px);
				@include v-align;
				left:0;
				cursor: pointer;
				// transition: all 0.3s ease;
				&:hover{
					opacity: 0.6;
				}
				.heng{
					transition: all 0.4s linear;
					width: 18px;
					height: 1px;
					background-color: #fff;
					@include c-align;
					top:20px;
				}
				.shu{
					transition: all 0.4s linear;
					width: 18px;
					height: 1px;
					background-color: #fff;
					@include c-align;
					bottom:20px;
				}
			}
			.logo-phone{
				@include cube(48px);
				@include c-align;
				top:0;
				background-image: url('../img/logo.svg');
				background-repeat: no-repeat;
				background-position: center center;
				cursor: pointer;
				transition: opacity 0.3s ease;
				&:hover{
					opacity: 0.6;
				}
			}
			.shangjiantou{
				@include cube(48px);
				@include c-align;
				top: 48px;
				opacity: 0;
				z-index: 1;
				color:white;
				font-size: 20px;
				cursor: pointer;
				text-align: center;
				line-height: 48px;
				&:hover{
					color:#676767;
				}
			}
			.shangjiantou.icon{
				font-family: "icon";
			}
			.icon-jiantoushang:before { content: "\e60c"; }
			.bag{
				@include cube(48px);
				@include v-align;
				right:0;
				background-repeat: no-repeat;
				background-position: center center;
				cursor: pointer;
				transition: all 0.3s ease;
				transform:translateX(0);
				&:hover{
					opacity: 0.6;
				}
			}
		}
		.box{
			@include juzhong;
			height: 200px;

			.search-box.searching{
				transform:translateX(0);
				opacity: 1;
			}
			.search-box{
				width: 60%;
				@include c-align;
				top: 78px;
				height: 44px;
				padding-left: 50px;
				background-image: url('../img/search.svg');
				background-repeat: no-repeat;
				background-position: 15px center;
				overflow: hidden;
				transform:translateX(1000px);
				transition:all 1s ease;
				opacity: 0;
				z-index: 12345;
				input{
					width: 100%;
					border:0;
					height: 22px;
					@include v-align;
					outline: none;
					color:#fff;
					font-family: "zhengchang";
					background-color: #292929;
					font-size: 16px;
				}
			}
		}
		.close{
			width: 20px;
			height: 20px;
			position: absolute;
			right: 39px;
			top: 12px;
			z-index: 12346;
			display: none;
			cursor: pointer;
			.heng1 , .shu1{
				width: 16px;
				height: 1px;
				background: white;
				@include juzhong;
			}
			.heng1{
				transform:rotateZ(45deg);
			}
			.shu1{
				transform:rotateZ(-45deg);
			}
			&:hover{
				color:#B7B7B7;
			}
		}
		.close.show{
			display: block;
		}
	}
}

// 最小屏点击menu展开
.phone-daohang{
	width: 100%;
	height: 0px;
	@include juzhong;
	background: #1C1919;
	z-index: 999;
	opacity: 0;
	transition: all 0.4s ease;
}
//头部导航响应式
@include ons {
	body{
		overflow: auto;
	}
	body.hide{
		overflow: hidden;
	}
	.header{
		height: 48px;
		background-color: black;
		.container{
			// height: 482px;
			padding:0;
			overflow: visible;
			.nav.searching{
					transition: all 1s ease-in-out!important;
					width: 100%;
					transform:translateX(-1px) translateY(-380px)!important;
					li{
						transform:scale(1,1)!important;
					}
			}
			.nav.move{
				transition: all 1s ease-in-out!important;
				transform: translateX(0) translateY(0)!important;
			}
			.nav{
				display: block;
				float: none;
				position: relative;
				left: 0;
				top: 44px;
				z-index: 99999;
				height: auto;
				li:nth-child(1).show{
					display: none;
				}
				li:nth-last-child(1).show{
					display: none;
				}
				li.show:nth-last-child(2){
					border-bottom: 1px solid white;
					cursor: text;
					a{
						font-size: 0;
						span{
							font-size: 20px;
						}
					}
			    	&:hover{
						opacity: 1;
					}
				}

				li{
					opacity: 0;
					line-height: 0;
					background-position: left;
					display: block;
					transition: all 0.5s ease;
					padding: 0;
					margin:0;
					height: 0;
					width: 0;
					z-index: 1;
					// position: absolute;
					// left: 0px;
				    // top: 0px;
				    visibility: hidden;
				}
				li.show{
					border-bottom: 1px solid  #333333;
					display: block;
					visibility: visible;
					background-size: 59px 48px;
					float: none;
					width: 80%;
					opacity: 1;
					height: 44px;
					padding-top: 48px;
					margin-left: 40px;
					cursor: pointer;
					// position: relative;
				    // top: 80px;
					&:hover{
						opacity: 0.6;
					}
				}
			    .search{
			    	a{
			    		display: block;
						position: absolute;
						top: 0;
						left: 70px;
						opacity: 1;
						line-height: 50px;
						color: white;
						font-size: 20px;
			    		span{
							display: block;
							width: 150px;
							height: 44px;
							float: left;
							cursor: text;
			    		}
			    	}
			    }
				&::after{
					content: '';
					display: block;
					clear: both;
				}
			}
			.nav-phone{
				display: block;
				overflow: hidden;
				z-index: 9999999;
				.bag{
					background: url('../img/bag_small.svg') no-repeat center center;
				}
				.bag.hide{
					transform:translateX(200px);
				}
				.logo-phone.shang , .shangjiantou.shang{
					transform: translateY(-48px);
					opacity: 1;
				}
				.logo-phone{
					transform: translateY(0);
					transition: all 0.8s ease;
					background-image: url('../img/logo_small.svg');
				}
				.shangjiantou{
					transform: translateY(0);
					opacity: 0;
					transition: all 0.8s ease;
				}
			}
			.nav-phone.color{
				background-color: black;
			}
		}
	}
	.close{
		display: none;
		opacity: 0;
	}
	.box{
		width: 100%;
		height: 250px;
		overflow: hidden;
		@include juzhong;
		.search-box.searching{
			transition: opacity 0.5s ease!important;
			transition-delay: 1s;
			background-color: black;
			width: 80%!important;
			display: block;
			position: absolute;
			top: 125px!important;
			z-index: 999999!important;
			border-bottom: 1px solid #333;
			font-size: 20px;
			input{
				background-color: black!important;
			}
		}
	}
	.banner{
		height: 482px;
		// height: 100%;
		.container{
			.dalunbo{
				height: 482px;
			}
		}
	}
	.phone-daohang.show{
		height: 100%;
		height: 200vh;
		background-color: black;
		opacity: 1;
	}
}


//搜索框
.search-result.show{
	height: auto;
	opacity: 1;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	dl{
		@for $i from 10 through 1 {
			li:nth-child(#{$i}) {
				transform:translateX(0);
				opacity: 1;
				transition-delay: $i*0.1s+0.1s;
			}
		}
	}
}

.search-result{
	width: 50%;
	// padding-left: 50px;
	// padding-top: 20px;
	// padding-bottom: 10px;
	box-sizing: border-box;
	opacity: 0;
	height: 0;
	overflow: hidden;
	background-color: white;
	z-index: 12345;
	transition: all 0.8s ease;
	@include c-align;
	top: 44px;
	dl{
		font-family: "xi";
		font-weight: 550;
		li:nth-child(1){
			font-size: 12px;
			color:#999999;
			padding-bottom: 8px;
		}
		li{
			transition: all 0.8s ease;
			transform: translateX(1000px);
			font-size: 16px;
			a{
				width: 100%;
				height: 100%;
				color:#999999;
				display: block;
				padding:8px 10px;
				&:hover{
					background-color: #f2f2f2;
					color:#0188CC;
				}
			}
		}
	}
}

.zhezhao.sousuo{
	width: 100%;
	height: 100%;
	height: 200vh;
	background-color: #505050;
	opacity: 0.3;
	@include juzhong;
	z-index: 9000;
}
@include ons {
	.search-result{
		top: 100px;
	}
	.search-result.show{
		transition-delay: 1s;
		top:100px;
		width: 80%;
		background-color: black;
		padding-left: 0;
		dl{
			li:nth-child(1){
				border-bottom: none;
				margin-left: 0;
			}
			li{
				padding: 10px 0;
				margin-left: 20px;
				border-bottom: 1px solid #333333;
				a{
					padding-left: 0;
					font-family: 'zhengchang';
					color: #B9B9B9;
					&:hover{
						background-color: black;
						color:#0188CC;
					}
				}
			}
		}
	}
	.zhezhao.sousuo{
		background-color: black!important;
		opacity: 1!important;
	}
}

//轮播图
.banner{
	height: 650px;
	width:100%;
	z-index: 555;
	float: left;
	.container{
		width: 100%;
		height: 650px;
		position: absolute;
		left: 0;
		top: 0;
		ul{
			width: 100%;
			height: 650px;
			overflow: hidden;
			li{
				position: absolute;
				width: 100%;
				max-width: 100%;
				height: 650px;
				float: left;
				display: inline-block;
				background-color: white;
				display: none;
				transition: transform 0.9s ease;
			}
			li.active{
				display: block;
				transform: translate3d(0,0,0);
			}
			li.left{
				display: block;
				transform: translate3d(-100%,0,0);
			}
			li.right{
				display: block;
				transform: translate3d(100%,0,0);
			}
			.iphone6s{
				a{
					display: block;
					width: 100%;
					height: 650px;
					background-image: url("../img/iphone_6s_medium.jpg");
					background-position: 40% 100%;
					background-repeat: no-repeat;
					background-size: 1400px 389px;
					.juzhong{
						@include c-align;
						h3{
							font-size: 30px;
							top: 148px;
							text-align: center;
							color:white;
							background-position: center center;
							background-repeat: no-repeat;
							background-image: url("../img/iphone_6s_medium.png");
							span{
								opacity: 0;
							}
						}
						p{
							text-align: center;
							top:158px;
							font-size: 32px;
							font-family: "xi";
							color:#000;
						}
					}
				}
			}
			.ipadpro{
				a{
					display: block;
					width: 100%;
					height: 650px;
					background-image: url("../img/ipad_pro_family_medium.jpg");
					background-position: 60% 220%;
					background-repeat: no-repeat;
					.juzhong{
						@include c-align;
						h3{
							font-size: 30px;
							top: 108px;
							text-align: center;
							color:white;
							font-style: normal;
							font-weight: normal;
							span{
								font-family: "xi";
								opacity: 1;
								color: #333333;
								font-size: 50px;
							}
						}
						p{
							text-align: center;
							top:108px;
							font-size: 32px;
							font-family: "xi";
							color:#000;
						}
					}
				}
			}
			.watch{
				a{
					display: block;
					width: 100%;
					height: 650px;
					background-image: url("../img/apple_watch_trio_medium.jpg");
					background-position: 50% 65%;
					background-repeat: no-repeat;
					.juzhong{
						@include c-align;
						h3{
							font-size: 30px;
							top: 126px;
							text-align: center;
							color:white;
							background-position: center center;
							background-repeat: no-repeat;
							background-image: url("../img/apple_watch_medium.png");
							span{
								font-family: "xi";
								opacity: 0;
								color: #333333;
								font-size: 30px;
							}
						}
						p{
							text-align: center;
							top:138px;
							font-size: 32px;
							font-family: "xi";
							color:#000;
						}
					}
				}
			}
			.macbook{
				a{
					display: block;
					width: 100%;
					height: 650px;
					background-image: url("../img/macbook_medium.png");
					background-position: 50% 70%;
					background-repeat: no-repeat;
					.juzhong{
						@include c-align;
						h3{
							font-size: 30px;
							top: 140px;
							text-align: center;
							color:white;
							background-position: center center;
							background-repeat: no-repeat;
							font-weight: normal;
							span{
								font-family: "xi";
								opacity: 1;
								color: #333333;
								font-size: 50px;
							}
						}
						p{
							text-align: center;
							top:140px;
							font-size: 32px;
							font-family: "xi";
							color:#000;
						}
					}
				}
			}
			&::after{
				// @extend %clear;
				content:"";
				display:block;
				clear:both;
				line-height: 0;
				height: 0;
			}
		}
	}
	.move-left , .move-right{
		width: 67px;
		height: 128px;
		@include v-align;
		cursor: pointer;
		z-index: 666;
		font-size: 30px;
		color:#B0B0B0;
		text-align: center;
		line-height: 128px;
		opacity: 0;
		transition:all 0.5s ease;
	}
	.iconfont{
		font-family:"iconfont" !important;
  		font-size:80px;
  		font-style:normal;
  		color:#A8A8A8;
  		&:hover{
  			color:#969696;
  		}
	}
	.icon-youjiantou:before { content: "\e60a"; }
	.icon-youjiantou1:before { content: "\e603"; }
	$dep : 20px;
	.move-left{
		left:$dep;
	}
	.move-right{
		right:$dep;
	}
	.lunbo{
		width: 112px;
		height: 8px;
		@include c-align;
		bottom:6px;
		z-index: 666;
		li{
			@include cube(8px);
			border-radius: 50%;
			background-color: #999;
			float: left;
			margin-left:10px;
			margin-right: 9px;
			cursor: pointer;
			&:hover{
				background-color: #666666;
			}
		}
		li.active{
			border:1px solid #326ED7;
			background-color: white;
			transform: translateY(-1px);
			cursor: default;
		}
	}
	&:hover{
		.move-left , .move-right{
			opacity: 1;
		}
	}
}
//轮播图响应式
@include ons {
	.banner{
		height: 510px;
		.container{
			height: 482px;
			.dalunbo{
				.iphone6s{
					height: 482px;
					a{
						height: 482px;
						background: url('../img/iphone_6s_small.jpg') no-repeat 50% 82%;
						top: 6px;
						.juzhong{
							h3{
								background: url('../img/iphone_6s_small.png') no-repeat center center;
							}
							p{
								@include c-align;
								top:194px;
								width: 300px;
								text-align: center;
								font-size: 24px;
							}
						}
					}
				}
				.ipadpro{
					height: 482px;

					a{
						height: 482px;
						background: url('../img/ipad_pro_family_small.jpg') no-repeat 51% 70%;
						top: 56px;
						.juzhong{
							h3{
								span{
									font-size: 40px;
								}
							}
							p{
								@include c-align;
								top:152px;
								width: 400px;
								text-align: center;
								font-size: 24px;
							}
						}
					}
				}
				.watch{
					height: 482px;

					a{
						height: 482px;
						background: url('../img/apple_watch_trio_small.jpg') no-repeat 50% 63%;
						top:35px;
						.juzhong{
							h3{
								background: url('../img/apple_watch_small.png') no-repeat center center;

							}
							p{
								@include c-align;
								top:170px;
								width: 400px;
								text-align: center;
								font-size: 24px;
							}
						}
					}
				}
				.macbook{
					height: 482px;
					a{
						height: 482px;
						background: url('../img/macbook_small.png') no-repeat 50% 70%;
						top: 25px;
						.juzhong{
							h3{
								span{
									font-size: 40px;
								}
							}
							p{
								@include c-align;
								top:190px;
								width: 400px;
								text-align: center;
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}
@include ons {
	.promos{
		.container{
			.row{
				div{
					border-top: none;
					border-right: none;
				}
			}
		}
	}
}
//中间四个图
.promos{
	width: 100%;
	float: left;
	.container{
		width: 100%;
		margin: 0 auto;
		.row{
			width: 100%;
			@include onl {
				@for $i from 1 through $number {
					.col.l#{$i}{
						width:percentage($i/$number);
					}
				}
			}
			@include onm {
				@for $i from 1 through $number {
					.col.m#{$i}{
						width:percentage($i/$number);
					}
				}
			}
			@include ons {
				@for $i from 1 through $number {
					.col.s#{$i}{
						width:percentage($i/$number);
					}
				}
			}
			div{
				height: 200px;
				border-top: 2px solid white;
				border-right:1px solid white;
				box-sizing: border-box;
				float: left;
				display: block;
				background-position: top center;

				a{
					display: block;
					width: 100%;
					height:100%;
					opacity: 0;
				}
			}
			.tv{
				background-image: url("../img/apple_tv_medium.jpg");
			}
			.ios{
				border-left: 1px solid white;
				background-image: url("../img/public_betas_medium.jpg");
			}
			.swif{
				border-left: 1px solid white;
				background-image: url("../img/swift_playground_medium.jpg");
			}
			.gift{
				border-left: 1px solid white;
				border-right: none;
				background-image: url("../img/bts_iphone_medium.jpg");
			}
			@include ons {
				.tv{
					background-image: url("../img/apple_tv_small.jpg");
				}
				.ios{
					background-image: url("../img/public_betas_small.jpg");
				}
				.swif{
					background-image: url("../img/swift_playground_small.jpg");

				}
				.gift{
					background-image: url("../img/bts_iphone_small.jpg");

				}
			}
			&::after{
				content:'';
				display: block;
				clear: both;
			}
		}
	}
}

//底部
.footer{
	width: 100%;
	height: 368px;
	border-top: 2px solid white;
	background-color: #F2F2F2;
	float: left;
	.footer-inner{
		max-width: 1024px;
		height: 300px;
		margin:0 auto;
		.container{
			box-sizing: border-box;
			height: 295px;
			padding-top: 34px;
			padding-left: 22px;
			padding-right: 20px;
			div{
				width:20%;
				float: left;
				.xuan1{
					padding-top: 20px;
				}
				dl{
					dt{
						cursor: default;
						height: 20px;
						font-size: 12px;
						color:black;
						font-family: "bold";
						font-style: normal;
					}
					dd{
						height: 20px;
						font-size: 10px;
						font-family: "zhengchang";
						color:#666666;
						a{
							color:#666666;
							display: inline-block;
							&:hover{
								color:black;
								text-decoration: underline;
							}
						}
				    }
			    }
		    }

	}
	.footer-bottom{
		.footer-shang{
			margin-left: 20px;
			padding-right: 20px;
			padding-bottom: 10px;
			box-sizing: border-box;
			font-size: 12px;
			font-family: "zhengchang";
			color:#999999;
			border-bottom: 1px solid #E3E3E3;
			a{
				color:#0088CC;
				font-size: 12px;
				&:hover{
						color:black;
						text-decoration: underline;
					}
			}
		}
		@include ons {
			.footer-shang{
				border-bottom: none;
			}
			.lang1{
				display: block!important;
			}
		}
		.lang1{
			height: 16px;
			padding-left: 15px;
			margin-top: 5px;
			margin-bottom: 15px;
			cursor: pointer;
			display: none;
			i{
				font-size: 0;
				background-image: url("../img/guoqi.png");
				background-repeat: no-repeat;
                background-position: center center;
			}
			span{
				display: inline-block;
				height: 16px;
				line-height: 16px;
				padding-left: 20px;
				font-size: 12px;
				font-family: "zhengchang";
				color:#666666;
				background-image: url("../img/guoqi.png");
				background-repeat: no-repeat;
                background-position: left center;
                a{
                	color:#666;
                }
			}
        	&:hover{
        		a{
	        		color:black;
	        		text-decoration: underline;
        		}
        	}
        	&::after{
        		content: '';
        		display: block;
        		clear: both;
        	}
		}
		.copyright{
			.appleInc{
				padding-top: 8px;
				padding-left: 20px;
				font-size: 12px;
				font-family: "zhengchang";
				color:#999;
				float: left;
			}
			.privacy{
				padding-top: 8px;
				padding-left: 20px;
				padding-right: 10px;
				float: left;
				line-height: 10px;
				a{
					padding-left: 10px;
					padding-right: 10px;
					border-right: 1px solid #ccc;
					text-align: center;
					font-size: 12px;
					font-family: "zhengchang";
					color:#666666;
					&:hover{
						color:black;
						text-decoration: underline;
					}
				}
				a:nth-last-child(1){
					border-right:none;
				}
			}
			.lang{
				height: 16px;
				float: right;
				margin-right: 20px;
				cursor: pointer;
				i{
					font-size: 0;
					background-image: url("../img/guoqi.png");
					background-repeat: no-repeat;
                    background-position: center center;
				}
				span{
					display: inline-block;
					height: 16px;
					line-height: 16px;
					padding-left: 20px;
					font-size: 12px;
					font-family: "zhengchang";
					color:#666666;
					background-image: url("../img/guoqi.png");
					background-repeat: no-repeat;
                    background-position: left center;
                    a{
                    	color:#666;
                    }
				}
	        	&:hover{
	        		a{
		        		color:black;
		        		text-decoration: underline;
	        		}
	        	}
			}
			@include ons {
				.appleInc{
					float: none;
				}
				.privacy{
					float: none;
					padding-left: 10px;
				}
			}
		}

	}
 }
}
//底部响应式
@include ons {
		.footer{
			.footer-inner{
				.container{
					div{
						width: 100%;
						dl{
							width: 100%;
				    		dt{
								border-bottom: 1px solid #E3E3E3;
				    			height: 38px;
								width: 100%;
								float: left;
								font-size: 14px;
								font-family: 'zhengchang';
								color:#333;
								line-height: 38px;
								cursor: pointer;
								z-index: 9999;
								&:hover{
									color:black;
								}
								&::after{
									transition: all 0.8s ease;
									// transform:rotateZ(45deg);
									transform-origin:center center;
									content: '+';
									width: 38px;
									height: 38px;
									float: right;
									text-align: center;
									margin-right: 10px;
								}
							}
							dt.active{
								// font-size: 16px;
								border-bottom: none;
								font-weight: 600;
								color: #333;
								&::after{
									transform: rotateZ(45deg);
								}
							}
							dd{
								height: 0px;
								font-size: 0;
								opacity: 0;

							}
							dd.show{
								z-index: 9998;
								transition: all 0.4s ease;
								height: auto;
								font-size: 12px;
								opacity: 1;
								padding: 8px 5px;
							}
							dd.show:nth-of-type(1){
								transition: all 0.1s ease;
								padding-top: 60px;
								height: 14px;
								font-size: 12px;
							}
							dd.show:nth-last-child(1){
								border-bottom: 1px solid #E3E3E3;
								padding-bottom: 14px;
							}
						}
					}
				}
				.footer-bottom{
					padding-bottom: 10px;
					background-color: #f2f2f2;
					.copyright{
						.lang{
							display: none;
						}
					}
				}

			}
		}
}


